.JoinMob { 
    padding-right: 0.5rem;
    border-width: 0.1rem;
    border-radius: 0.25rem;
    border-style: solid;
    border-color: black;
    align-items: center;
    gap: 10%;
    width: 100%;
    display: inline-flex;
    background-color: white;
    margin: 1rem;
}
.MobLabel {
    color: grey
}
button {
    background-color: blue;
    color: white;
    border-radius: 0.25rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: black;
    font-weight:bold;
}
label, input, button {
    margin: 1rem;
    font-size: large;
    padding: 0.5rem;
}
