<html>
<head>
	<title>Mob Server</title>
	<base href=".">
	<script type="module" src="message.js"></script>  
</head>
<body>
	<h2>http server started</h2>
	<input type="button" value="click here" onclick="msg()"/>  
	<div class="mob-status">Hello</div>
</body>
</html>
