<html>
<head>
	<title>Mob Server</title>
	<script type="text/javascript" src="message.js"></script>  
</head>
<body>
	<h2>http server started</h2>
	<input type="button" value="click here" onclick="msg()"/>  
</body>
</html>
