<html>
<head>
	<title>Mob Server</title>
	<base href=".">
	<script type="module" src="message.js"></script>  
</head>
<body>
	<h2>http server started</h2>
	<!-- todo: Get JQuery working to replace text in tag below with "Web socket server is connected." -->
	<!-- <div class="mob-status">Connecting to web socket server</div> -->
</body>
</html>
